:root {
  --blue-oscuro:  rgba(0, 57, 99, 1);
  --blue-claro: rgba(0, 142, 197, 1);
  --itemsColors: rgba(0, 0, 0, 0.4);
  --stroke: rgba(197, 197, 197, 0.5);
  --strokeItems: rgba(197, 197, 197, 0.2);
  --white: #efefef;
  --grey: rgba(197, 197, 197, 0.15);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: var(--grey);
}

/*Menu lateral*/
#sidebar-container {
  min-width: 22%;
  min-height: 100vh;
  background-color: var(--white);
}

/*Logo y Texto*/
#sidebar-container .group1{
  align-items: end;
  width: 100%;
  height: 8rem;
  padding: 1rem 1.7rem;
  display: flex;
  justify-content: space-around;

}

#sidebar-container .content_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-claro);
  height: 3.5rem;
  border-radius: 30px;
  max-width: 300px;
  padding: 5px;
}

#sidebar-container .content_logo p{
  font-size: 1rem;
    margin: 0;
    font-weight: 500;
    padding: 5px;
}


#sidebar-container .icono {
  color: var(--blue-claro);
  user-select: none;
  background-color: white;
  font-size: 2rem;
  border-radius: 30px;
  width: 5rem;
  height: 3rem;
  text-align: center;
}

/*Items del Menu*/
#sidebar-container .group2{
  width: 100%;
  padding: 1rem 2rem;
}

.group2 ul li a{
  color: var(--itemsColors);
  width: 100%;
}
.group2 ul li{
  color: var(--itemsColors);
  height: 2.5rem;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  font-weight: 500;

}

ul{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0;
}

.margen-items{
  margin: 8px 0px;
  border-bottom: 1px solid var(--strokeItems);
}

#sidebar-container ul a svg{
margin-right: 16px;
}

.group2 ul li:hover{
  background-color: var(--blue-claro);
  color: var(--white);

}

.group2 ul a:active{
  background-color: var(--blue-claro);
  color: var(--white);

}

.group2 ul a:hover{
  text-decoration: none;
}



/*Perfil*/
#sidebar-container .group3{
  border-top: 2px solid var(--stroke);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0px;
  width: 22%;
}

.group3 img{
  margin-right: 10px;
}

.group3 p{
  padding: 0 5px;
  margin: 0;
}

.group3 .name_user{
  font-weight: 600;
  font-size: 20;
  color: var(--blue-oscuro);
}

.group3 .rol_user{
  font-weight: 500;
  font-size: 16;
  color: var(--itemsColors);
}


.button-user{
  width: 55px;
  height: 55px;
  background-color: var(--white);
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  color: var(--itemsColors);
  margin-right: 5px;
}


.button-user i{
  color: var(--itemsColors);
}




#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
  background-color: var(--grey);
}



.stat {
  border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }
}


