:root {
  --blue-oscuro:  rgba(0, 57, 99, 1);
  --blue-claro: rgba(0, 142, 197, 1);
  --itemsColors: rgba(0, 0, 0, 0.4);
  --stroke: rgba(197, 197, 197, 0.5);
  --strokeItems: rgba(197, 197, 197, 0.2);
  --white: #efefef;
  --grey: rgba(197, 197, 197, 0.15);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--grey);
}

/*Menu lateral*/
#sidebar-container {
  width: 30%;
  min-height: 100vh;
  background-color: var(--white);
}

/*Logo y Texto*/
#sidebar-container .group1{
  align-items: end;
  width: 100%;
  height: 8rem;
  padding: 1rem 1.7rem;
  display: flex;
  justify-content: space-around;

}

#sidebar-container .content_logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-claro);
  height: 3.5rem;
  border-radius: 30px;
  max-width: 300px;
  padding: 5px;
}

#sidebar-container .content_logo p{
  font-size: 1rem;
    margin: 0;
    font-weight: 500;
    padding: 5px;
}


#sidebar-container .icono {
  color: var(--blue-claro);
  user-select: none;
  background-color: white;
  font-size: 2rem;
  border-radius: 30px;
  width: 5rem;
  height: 3rem;
  text-align: center;
}

/*Items del Menu*/
#sidebar-container .group2{
  height: 50%;
}

/*Perfil*/
#sidebar-container .group3{
  height: 30%;
}

a:hover {
  text-decoration: none;
}


.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
  background-color: var(--primary);
  border: 0;
}

.btn-primary:hover {
  background-color: var(--primary);
}




#sidebar-container ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
 
}

ul{
    list-style: none;
      padding-left: 0px;
}

#sidebar-container ul a i{
  margin-right: 16px;
}
#sidebar-container ul a svg{
    margin-right: 16px;
  }



#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
  background-color: var(--grey);
}



.stat {
  border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }
}


