<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo Proyecto</title>

  
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/css/responsive.bootstrap4.min.css">

  <link rel="stylesheet" href="../static/fontazwsome/css/fontawesome.min.css">
  <link rel="stylesheet" href="../static/Ionicons/css/ionicons.min.css">

  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  <!-- datatables JS -->
  <script src="../static/js/datatables.min.js"></script>
  
  <script src="../static/js/dataTables.responsive.min.js"></script>
  <script src="../static/js/responsive.bootstrap.min.js"></script>

  <!-- para usar botones en datatables JS -->
  <script src="../static/js/Buttons/dataTables.buttons.min.js"></script>
  <script src="../static/js/JSZip-2.5.0/jszip.min.js"></script>
  <script src="../static/js/pdfmake-0.1.36/pdfmake.min.js"></script>
  <script src="../static/js/pdfmake-0.1.36/vfs_fonts.js"></script>
  <script src="../static/js/Buttons/buttons.html5.min.js"></script>

  

  <!-- código JS propìo-->
  <script src="../static/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

  

 <!-- Los iconos tipo Solid de Fontawesome-->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
 <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>
 
<div class="container-fluid">
  <div class="row" >
      
    <div class="menu col-xl-3 col-md-12 col-sm-12 " id="adaptar">

      <div class="text-center text-white" >
        <p class="titulo"><img class="imgTitulo" src="../static/images/icono_proyect.png" alt=""> Issamar Fitness</p>

      </div>
      <p class="parrafosMenu text-white">GENERAL</p>

      <ul class=" text-white">
        <div class="enlacesMenu">
          <li><i class="fas fa-home"></i><a href="http://127.0.0.1:5050/login/index">Escritorio</a></i></li>
        </div>
        <div class="enlacesMenu">
          <li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-ui-checks" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
            <path fill-rule="evenodd" d="M2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646l2-2a.5.5 0 1 0-.708-.708L2.5 4.293l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0zm0 8l2-2a.5.5 0 0 0-.708-.708L2.5 12.293l-.646-.647a.5.5 0 0 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/>
            <path d="M7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
            <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg><a href="http://127.0.0.1:5050/login/RegistroEntrada">Registro de Entrada</a></i></li>
        </div>

        <div class="enlacesMenu">
          <li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-ui-checks" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
            <path fill-rule="evenodd" d="M2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2H2zm.854-3.646l2-2a.5.5 0 1 0-.708-.708L2.5 4.293l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0zm0 8l2-2a.5.5 0 0 0-.708-.708L2.5 12.293l-.646-.647a.5.5 0 0 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/>
            <path d="M7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
            <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
          </svg><a href="">Registro de Clientes por Modalidad</a></i></li>
        </div>

      </ul>

      <p class="parrafosMenu text-white">ADMINISTRACION</p>
      <ul class=" text-white">
        <div class="enlacesMenu ">
          <li><i class="fas fa-users"></i><a href="http://127.0.0.1:5050/login/ClientePersonal">Clientes</a></i></li>
        </div>
        <div class="enlacesMenu">
          <li><i class="fas fa-running"></i><a href="http://127.0.0.1:5050/login/Actividades">Actividades</a></i></li>
        </div>
        <div class="enlacesMenu">
          <li><i class="fas fa-dumbbell"></i><a href="http://127.0.0.1:5050/login/ModalidadInterfaz">Modalidades</a></i></li>
        </div>
        <div class="enlacesMenu">
          <li><i class="fas fa-chalkboard-teacher"></i></i><a href="http://127.0.0.1:5050/login/Entrenador">Entrenadores</a></i></li>
        </div>
      </ul>
      

      <p class="parrafosMenu text-white">SEGUIMIENTOS</p>
      <ul class=" text-white">
        <div class="enlacesMenu">
          <li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calculator" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
            <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"/>
          </svg><a href="http://127.0.0.1:5050/login/RegistroPesos">Registro de Pesos</a></i></li>
        </div>
        <div class="enlacesMenu">
          <li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-data" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
          </svg><a href="http://127.0.0.1:5050/login/ConsultaDeAvances">Consulta de Avances</a></i></li>
        </div>
      </ul>
      
      <p class="parrafosMenu text-white">ESTADOS</p>
      <ul class=" text-white">
        <div class="enlacesMenu">
          <li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          </svg><a href="http://127.0.0.1:5050/login/EstadoClientes">Estado de Clientes</a></i></li>
        </div>
        <div class="enlacesMenu">
          <li><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z"/>
          </svg><a href="">Estado de Pagos</a></i></li>
        </div>
      </ul>

      <p class="parrafosMenu text-white">FACTURACIÓN</p>
      <ul class=" text-white">
        <div class="enlacesMenu">
          <li><i class="far fa-credit-card"></i><a href="">Pagos</a></i></li>
        </div>
      </ul>
      <br><br>
      

    </div>
    
    
    
    <div class="col-xl-9 col-md-12 col-sm-12" style=" padding-left: 0px; padding-right: 0px;">
      
       
        
          <nav class="navbar navbar-expand-lg " style="background: #007B73; padding-left: 0%;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <form class="form-inline my-2 my-lg-0 ml-auto" >
                
               
                <a href="/login/logout" class="btn btn-success my-2 my-sm-0 mr-2"> <i  class="fas fa-user"></i> Agregar Usuarios</a>
                <a href="/login/logout" class="btn btn-danger my-2 my-sm-0"> <i class="fas fa-sign-out-alt"></i>Salir</a>
               
              </form>
            </div>
          </nav>  
        
  
        {% block body %}
        {% endblock %}

     
      

    </div>

  
  
    
    
  </div>





</div>
   


  

</body>

</html>

<script type="text/javascript">
  
  var altura = $(window).height();
  $('#adaptar').height(altura);

  

</script>




