<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/styleMenu.css">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css">

  <link rel="stylesheet" href="../static/fontawesome-6/fontawesome-free-6.2.1-web/css/all.min.css">
  <!--Para el boton de columns visibility-->
  <link rel="stylesheet" href="https://cdn.datatables.net/colvis/1.1.2/css/dataTables.colVis.min.css">

  <!-- jQuery, Popper.js, Bootstrap JS -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper/popper.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  <!-- datatables JS -->
  <script src="../static/js/datatables.min.js"></script>

  <!-- para usar botones en datatables JS -->
  <script src="../static/js/Buttons/dataTables.buttons.min.js"></script>
  <script src="../static/js/pdfmake-0.1.36/pdfmake.min.js"></script>
  <script src="../static/js/pdfmake-0.1.36/vfs_fonts.js"></script>
  <script src="../static/js/Buttons/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.colVis.min.js"></script>

  <script src="https://cdn.datatables.net/plug-ins/1.10.22/api/sum().js"></script>

  <!-- Para convetir la tabla en un json-->
  <script src="../static/js/tabletoJson.min.js"></script>

  <!-- Fontawesome Js-->
  <script src="../static/fontawesome-6/fontawesome-free-6.2.1-web/js/all.min.js"></script>


  <!-- Alertify-->
  <!-- JavaScript -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

  <script src="../static/js/jquery.maskedinput.js"></script>


  <title>Issamar Fitness</title>

</head>

<body>
  <div class="d-flex">

    <!---------------------------- SIDEBAR ----------------------------------------->
    <div id="sidebar-container">

      <div class="group1">
        <div class="content_logo">
          <div class="icono">
            <div><i class="fa-solid fa-dumbbell"></i></div>
          </div>

          <p class="text-white">ISSAMAR FITNESS</p>
        </div>

      </div>

      <div class="group2">

        <ul>

          <a href="http://127.0.0.1:5050/login/index">
            <li><i class="fa-solid fa-gauge"></i>Escritorio
            </li>
          </a>
          <div class="margen-items"></div>

          <a href="http://127.0.0.1:5050/login/clientePersonal">
            <li><i class="fa-solid fa-person-circle-plus"></i>Clientes
            </li>
          </a>
          <div class="margen-items"></div>

          <a href="http://127.0.0.1:5050/login/Pagos">
            <li><i class="fa-solid fa-clipboard-list"></i>Entrada al gym
            </li>
          </a>
          <div class="margen-items"></div>

          <a href="http://127.0.0.1:5050/login/index">
            <li><i class="fa-solid fa-list-ol"></i>Inscripciones
            </li>
          </a>
          <div class="margen-items"></div>

          <a href="http://127.0.0.1:5050/login/index">
            <li><i class="fa-solid fa-people-group"></i>Entrenadores
            </li>
          </a>
          <div class="margen-items"></div>

          <a href="http://127.0.0.1:5050/login/index">
            <li><i class="fa-solid fa-person-running"></i>Modalidades
            </li>
          </a>
          <div class="margen-items"></div>

          <a href="http://127.0.0.1:5050/login/index">
            <li><i class="fa-solid fa-hand-holding-dollar"></i>Pagos
            </li>
          </a>
          <div class="margen-items"></div>
        </ul>

      </div>

      <div class="group3">
        <img src="../static/images/Usuario/User.png" alt="">
        <div>
          {% if user %}
          <p class="name_user">{{user}}</p>
          {% endif %}
          <p class="rol_user">administrador</p>
        </div>

      </div>


    </div>
    <!------------------------------------- FIN SIDEBAR ------------------------------------------------------------>

    <div class="w-100">

      <!---------------------------------------NAVBAR ----------------------------------->
      <nav class="navbar navbar-expand-lg navbar-light"
        style="background: rgba(197, 197, 197, 0.15);height: 8rem; align-items: end; padding-bottom: 1rem;
        border-bottom: 2px solid rgba(197, 197, 197, 0.2);">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

              <!-----Boton Notificacion ----->
              <li class="nav-item dropdown">
                <div class="button-user">
                  <i class="fa-solid fa-bell"></i>
                </div>
              </li>

              <!-----Boton Configuración Usuario ----->
              <li>
                <div class="button-user">
                  <i class="fa-solid fa-user-gear"></i>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <br>

        <br>
      </nav>
      <!------------------------------ FIN NAVBAR ---------------------------------------------->

      <!--------------------------------- CONTENIDOS ---------------------------------------------->
      <div id="content" class="w-100">

        <section>
          <div class="container">
            {% block body %}
            {% endblock %}
          </div>
        </section>

      </div>

    </div>
  </div>


</body>



</html>