
  {% extends "nuevomenu.html" %}
  {% block body %}
  
  <div>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/registroEntrada.png); margin-top: 20px">
          <div class="container">
              <h1 class="display-4 text-center">Registro de Entrada</h1>
             
          </div>
      
      </div>
      
    </div>
  
  </div>
  <div class="row mx-auto">
  
    <div class="col-md-4 col-sm-12">
  
  
      <div class="card CajaEntrenadores" style=" margin-top: 70px;padding: 5px; border-radius: 5px; font-size: 14px;">
        <div class="card-body" style="padding: 5px;">
          <div class=" equipo-img text-center" style="margin-bottom: 0px;">
            <img src="../static/images/actividades.jpg" alt="">
          </div>
          <form action="{{url_for('guardarRegistroEntrada')}}" method="POST">     
  
              <label for="" class="col-form-label">Cedula del Cliente</label>
              <div class="form-group" id="cedula-grupo" style="margin-bottom:0px">
                <input class="form-control" type="number" name="cedulaCliente" id="cedulaCliente">
              </div>
  
              <label for="" class="col-form-label">Nombres y Apellidos</label>
              <div class="form-group" id="nom-grupo" style="margin-bottom:0px">
                <input class="form-control" name="id_cliente" value=" " id="idCliente" hidden>
                <input class="form-control" id="nombreClienteGet" disabled>
  
              </div>

              <label for="" class="col-form-label">Modalidad</label>
                <select class="form-control" name="tipo_modalidad"  required>
                  <option value="" disabled selected>Elija la modalidad</option>
                    {% for modalidad in modalidades %}
                         <option value="{{modalidad.0}}">{{modalidad.1}}</option>
                    {% endfor %}
                </select>

                <label for="" class="col-form-label">Fecha de Entrada</label>
                <div  class="form-group" id="calendario-grupo" style="margin-bottom:0px" >
                    <input class="form-control" type="date" name="fecha_entrada" required>
                </div>

                <label for="" class="col-form-label">Horario de Entrada</label>
                <div  class="form-group"  id="horario-grupo">
                    <input class="form-control" type="time" name="horario_entrada" required>
                </div>
              
              <div class="form-row justify-content-center">
                <div>
                  <button type="submit" class="btn btn-outline-primary mr-2">Guardar</button>
                </div>
                <div>
                  <button type="reset" class="btn btn-outline-danger">Cancelar</button>
                </div>
              </div>
  
          </form>
  
        </div>
      </div>
  
    </div>
  
    <div class="col-md-8 col-sm-12 mx-auto " >
      <div class="card  table-responsive-md" style=" margin-top: 60px;">
        <div class="card-body">
          <table class=" table  table-hover table-striped " id="TablaRegistrosEntrada" style="font-size: 14px; width: 100%;">
            <thead class=" font-weight-bold">
              <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Modalidad</td>
                <td>Fecha de Entrada</td>
                <td>Horario de Entrada</td>
                <td>Horario de Salida</td>
                <td>Acciones</td>
              </tr>
            </thead>
  
            <tfoot class="font-weight-bold">
                <td>Nombres</td>
                <td>Apellidos</td>
                <td>Modalidad</td>
                <td>Fecha de Entrada</td>
                <td>Horario de Entrada</td>
                <td>Horario de Salida</td>
                <td>Acciones</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  
  
  </div>

  <!--------------------------------------MODAL EDITAR REGISTRO DE PESOS --------------------------------------------->
<div class="modal fade" id="modalEditarRegistroEntrada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center" id="exampleModalLabel">Editar Registro de Peso</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="{{url_for('actualizarRegistroEntrada')}}" method="POST">     
        <div hidden class="form-group" id="nom-grupo">
            <input class="form-control" type="number" id="idRegistroEntradaE" name="id_registro_entrada" >
        </div>

        <label for="" class="col-form-label">Nombre</label>
        <div class="form-group" id="nom-grupo" style="margin-bottom:0px">
          <input disabled class="form-control" type="text" placeholder="Nombre" id="nombreClienteE">
        </div>
        
        <label for="" class="col-form-label">Apellido</label>
        <div class="form-group" id="nom-grupo" style="margin-bottom:0px">
          <input disabled class="form-control" type="text" placeholder="Apellido" id="apellidoClienteE"> 
        </div>

        <label for="" class="col-form-label">Modalidad</label>
          <select class="form-control" name="tipo_modalidad" id="idModalidadE">
            <option value="" disabled selected>Elija la modalidad</option>
              {% for modalidad in modalidades %}
                   <option value="{{modalidad.0}}">{{modalidad.1}}</option>
              {% endfor %}
          </select>

          <label for="" class="col-form-label">Fecha de Entrada</label>
          <div  class="form-group" id="calendario-grupo" style="margin-bottom:0px">
              <input class="form-control" type="date" name="fecha_entrada" id="fechaEntradaE">
          </div>

          <label for="" class="col-form-label">Horario de Entrada</label>
          <div  class="form-group"  id="horario-grupo" style="margin-bottom:0px">
              <input disabled class="form-control" type="time"  id="horarioEntradaE">
          </div>

          <label for="" class="col-form-label">Horario de Salida</label>
          <div  class="form-group"  id="horario-grupo">
              <input class="form-control" type="time" name="horario_salida" id="horarioSalidaE">
          </div>
          
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
      
      </form>

       
      
    </div>

  </div>
</div>
</div>

<!----------------------------------MODAL ELIMINAR REGISTRO DE ENTRADA----------------------------------->
<div class="modal fade" id="modalEliminarRegistroEntrada" tabindex="-1" role="dialog" aria-labelledby="modalEliminarLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Eliminar Registro de Entrada</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>

          </div>
          <form id="frmEliminarUsuario" action="{{url_for('deleteRegistroEntrada')}}">
              <div class="modal-body">
                  
                      <input hidden id="idRegistroEntradaEliminar" name="RegistroEntradaEliminar" >
                      ¿Está seguro de eliminar este registro?<strong data-name=""></strong>

                 
              </div>
              <div class="modal-footer">
                  <div>
                      <button type="submit" class="btn btn-outline-primary" >Aceptar</button>
                  </div>
                  <div>
                      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                  </div>
                 
              </div>
          </form>
      </div>
  </div>
</div>
<!----------------------------------- MODAL ELIMINAR REGISTRO DE ENTRADA------------------------------------->
  
  
  
  
  
  <script>
    //Buscar Clientes
    $("#cedulaCliente").keyup(function () {
      //Extraer el valor de la cedula del formulario
      var cedula = $("#cedulaCliente").val();
  
      //Mandar el valor para recibir u json desde flask
      $.get("/getCliente?cedulaCliente=" + cedula, function (data) {
        //Si hay datos, llenar los campos con los valores encontrados
        if (data) {
          $("#idCliente").val(data.idCliente);
          $("#nombreClienteGet").val(data.nombreCliente + data.apellidoCliente);
  
        }
  
      });
  
    });

    //Cambiar el color de la celda dependiendo si bajo, mantuvo o subió de peso
  $(document).ready(function () {
    // Tabla Registro de Pesos
    var TablaRegistrosEntrada = function () {
      var listadoRegistrosEntrada = $('#TablaRegistrosEntrada').DataTable({
        "scrollY": "300px",
        "scrollX": "200px",
        "scrollCollapse": true,
        "paging": true,
        "ajax": "/login/getRegistroDeEntrada",
        "columns": [
          { "data": "registro_nombre_cliente" },
          { "data": "registro_apellido_cliente" },
          { "data": "registro_nombre_modalidad" },
          { "data": "registro_fecha_entrada" },
          { "data": "registro_horario_entrada" },
          { "data": "registro_horario_salida" },
          { "defaultContent": "<button type='button' class='editarRegistroEntrada btn btn-secondary text-center' style='font-size:11px' data-toggle='modal' data-target='#modalEditarRegistroEntrada'><i class='fa fa-user-edit' ></i></button>	<button  type='button' class='eliminarRegistro btn btn-danger text-center' data-toggle='modal' data-target='#modalEliminarRegistroEntrada' style='color: white; font-size:11px' ><i class='fa fa-trash '></i></button>" }
        ],
        "language": idioma_espanol
      });
      /* Llamamos a la funcion y le pasamos la tabla y el nombre de la variable */
      obtenerCamposRegistrosEntrada("#TablaRegistrosEntrada tbody", listadoRegistrosEntrada);
      eliminar("#TablaRegistrosEntrada tbody", listadoRegistrosEntrada);

    }

    /* Funcion para traer los datos del Entrenador*/
    var obtenerCamposRegistrosEntrada= function (tbody, table) {
      $(tbody).on("click", "button.editarRegistroEntrada", function () {
        /* La funcion parents trae los datos de las columnas anteriores a la misma */
        var data = table.row($(this).parents("tr")).data();
       
        /* Obtener los valores de los campos y agregarlos al formulario */
        var id_registro = $("#idRegistroEntradaE").val(data.id_registro),
        registro_nombre_cliente = $("#nombreClienteE").val(data.registro_nombre_cliente),
        registro_apellido_cliente = $("#apellidoClienteE").val(data.registro_apellido_cliente),
        registro_id_modalidad = $("#idModalidadE").val(data.registro_id_modalidad),
        registro_fecha_entrada = $("#fechaEntradaE").val(data.registro_fecha_entrada),
        registro_horario_entrada = $("#horarioEntradaE").val(data.registro_horario_entrada),
        registro_horario_salida = $("#horarioSalidaE").val(data.registro_horario_salida);
        

        /* Abrir modal */
        $("#modalEditarRegistro").toggleClass("show");

      });

    }

     /* Funcion para eliminar el registro de Entrada */
     var eliminar = function (tbody, table) {
            $(tbody).on("click", "button.eliminarRegistro", function () {
                /* La funcion parents trae los datos de las columnas anteriores a la misma */
                var data = table.row($(this).parents("tr")).data();
                /* Obtener los valores de los campos y agregarlos al formulario */
                var id_registro = $("#idRegistroEntradaEliminar").val(data.id_registro);

                /* Abrir modal */
                $("#modalEliminarRegistroEntrada").toggleClass("show");
            });
        }

   



    var idioma_espanol = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    
        TablaRegistrosEntrada();


  });
     
  </script>
  
  
  
  
  {% endblock %}